@import url(common.css);

.item_list{ 
	width: 1200px;
	margin: auto;  
	box-sizing:border-box;
}
.item_list li{
	float:left; 
	width:200px; 
	height:150px; 
	margin-left:20px;
	margin-bottom:20px;
	background:orange;
}
.item_list li a{
	font-size:30px;
	font-weight:bold;
	color:#fff;
}


/* POPUP BOX ---------------------*/

#popup{ /*검정배경*/
	display:none; 
	position:fixed; 
	left:0; 
	top:0;
	width:100%; 
	height:100%; 
	background:rgba(0,0,0,0.7); 
	z-index:1000;
	overflow-y:scroll; 
	/*auto로 하면 스크롤바의 폭때문에 콘텐츠와 버튼사이의 간격이 생김->버튼위치맞춤*/
}

/*각 목록별 나오는 모달팝업 내용 나오는 부분*/

.pop_body{   /*팝업내용박스*/
	position:relative;
	height:100%;	
	margin:0 auto;
	width:1000px;
	background:#fff;
	z-index:10000;
}
.pop>li{
	width:1000px;
	position:absolute;
	text-align:center;
	background:#fff;
	display:none;
}
.pop>li p{
	text-align:center;
	font-size:30px;
}

/*버튼영역*/ 
.m_btn{
	position:fixed;
	left:50%;
	top:0px;
	margin-left:492px;
	width:80px;
	height:150px;
	color:#fff;
	text-align:center;
	overflow:hidden;
	z-index:10000;
}
.m_btn>li{
	cursor:pointer;
	overflow:hidden;
	background:#e29393;
}
.m_btn>li:hover{background:#de7575;}

 /*닫기버튼*/
.m_btn .btn_close{
	height:70px;
	width:80px;
	cursor:pointer;
	border-bottom:1px solid #ecc2c2;
}
.m_btn .btn_close i{  /*아이콘폰트*/
	position:relative;
	top:15px;
	font-size:40px;
}

/*다음이전 버튼*/

.m_btn .left_btn, .m_btn .right_btn{float:left;}
.m_btn .left_btn i,.m_btn .right_btn i{ 
	position:relative;
	top:10px;
	font-size:30px;	
	width:40px;
	height:50px;	
}
.m_btn .g_page{  /*Page번호*/
	font-size:12px;
	color:#fff;
	width:80px;
	padding-top:10px;
	height:50px;
	text-align:center;
}


